.intro__header {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #18216d;
  margin: 0;
}

@media screen and (max-width: 475px) {
  .intro__header {
    font-weight: 600;
    font-size: 28px;
    line-height: 27px;
    text-align: center;
    order: 1;
    width: 291px;
    margin-left: auto;
    margin-right: auto;
  }
}
