.header__profile {
    display: flex;
    justify-content: space-between;
    width: 130px;
    height: 80px;
    align-items: center;
    padding-left: 19px;
    border-left: 1px solid #EBEBF1;
    order: 3;
    margin-right: 20px;
}

@media screen and (max-width: 660px) {
    .header__profile {
        display: none;
    }
}
