.header__form {
    display: flex;
    width: 68%;
    height: 40px;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #EBEBF1;
    order: 2;
}

@media screen and (min-width: 450px) and (max-width: 1170px) {
    .header__form {
        width: 50%;
        
    }
  }

  @media screen and (min-width: 320px) and (max-width: 449px) {
    .header__form {
        width: 100%;
        order: 4;
        border: none;
        border-top: solid 1px #EBEBF1;
        margin-left: auto;
        margin-right: auto;
    }
  }
